{
    "useTabs": false,
    "tabWidth": 4,
    "proseWrap": "always",
    "singleQuote": true,
    "semi": true,
    "trailingComma": "all",
    "printWidth": 120,
    "endOfLine": "lf",
    "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
    "overrides": [
        {
            "files": "**/*.svelte",
            "options": {
                "parser": "svelte"
            }
        }
    ]
}
