{
    "useTabs": false,
    "tabWidth": 4,
    "proseWrap": "always",
    "singleQuote": true,
    "semi": true,
    "trailingComma": "all",
    "printWidth": 120,
    "plugins": ["prettier-plugin-svelte"],
    "overrides": [{ "files": "**/*.svelte", "options": { "parser": "svelte" } }]
}
